@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.leaflet-control {
  z-index: 0 !important;
}
.leaflet-pane {
  z-index: 0 !important;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}

.current-bookmarks {
  color: blue;
}
